<button class="buy one-click_buy btn02" data-code="<TMPL_VAR NAME='code'>" data-image="<TMPL_VAR NAME='image_big'>" data-title="<TMPL_VAR NAME='category'> <TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'>">Заказать</button>
