 <div style="text-align:center;">
	<div style="font-size:21px;margin-top:5px;font-weight:700;">Успейте заказать</div>
	<div style="margin:5px 0;"><img style="width:35px;"src="/custom/landings/best/files/images/arrow-down.png"></div>
	<div class="shop-tel">8 (499) 322-8089</div>
</div>
