	<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/custom/landings/best/files/images/close.png" alt=""></button>
				<div class="modal-body">
					<h4><strong><TMPL_VAR NAME="StabNum">Технические характеристики</strong>стабилизатора напряжения <br /><TMPL_VAR NAME="trademark"> <TMPL_VAR NAME="model"></h4>
				</div>
			</div>
	</div>
