<!-- begin of footer.tmpl--> 
<div id="main-menu">
<a href="/">Главная</a><a href="#">Оплата</a><a href="#">Доставка</a><a href="#">База знаний</a>
</div>
<div id="footer"><div id="footer-left"><div id="footer-right">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="left" width="70%"> 
<div id="copyright">
©<span id="stname">Stabilok.ru</span> - Интернет магазин электрооборудования | Все права защищены<br>
Стабилизаторы напряжения и инверторные блоки питания с доставкой
</div>

</td>
<td align="right" width="30%">
<span style="
    position: relative;
    top: 13px;
    right: 10px;
    width: 300px;
    height: 34px;
    
    overflow: hidden;
    color: #FFF;
    font-size: 10px;">
<!--LiveInternet counter-->
<script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='http://counter.yadro.ru/hit?t14.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) + ";" + Math.random() + "' border=0 width=88 height=31 alt='' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня'><\/a>")</script>
<!--/LiveInternet-->
</span>
</td>
</tr> 
</table>
</div></div></div>


  </td>
  </tr>

  </table>
  </center>

  <!-- end of footer.tmpl--> 

