<div class="Qblocks">
      <img src="theme/img/caption_catalog.png" width="159" height="16"><br>
      <ul class="menu">
          <li class="odd"><a href="cat.php?cat=stab1">Однофазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt">Энергия СНВТ/1</a></li>
          <li><a href="cat.php?cat=voltron">Voltron PCH</a></li>
          <li><a href="cat.php?cat=ach">UPower АСН</a></li>
          <li><a href="cat.php?cat=classic-ultra">Classic/Ultra</a></li>
          <li><a href="cat.php?cat=apc">Энергия АРС</a></li>
          <li class="odd"><a href="cat.php?cat=stab3">Трехфазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt-3">Энергия СНВТ/3</a></li>
          <li><a href="cat.php?cat=voltron-3d">Voltron 3D</a></li>
          <li class="odd"><a href="cat.php?cat=converter">Инверторы и ИБП</a></li>
          <li><a href="cat.php?cat=pn">Энергия ПН</a></li>
          <li><a href="cat.php?cat=battery">Аккумуляторы</a></li>
      </ul>
    </div>

