<!-- Navbar -->
<div class="mycontainer">
   <div class="navbar navbar-default1 nav-stab1" role="navigation">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
      </div>

     <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
         <li><a href="javascript:void()">Однофазные <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li class="dropdown-header">Выбор стабилизатора по...</li>
               <li><a href="#">...мощности <span class="caret кВт"></span></a>
                  <ul class="dropdown-menu">
                     <li><a href="cat.php?cat=p05">500 ВА (350-500 Вт)</a></li>
                     <li><a href="cat.php?cat=p1">1 кВА (0.7 - 1 кВт)</a></li>
                     <li><a href="cat.php?cat=p2">1.5...2 кВА (1.1 - 2 кВт)</a></li>
                     <li><a href="cat.php?cat=p3">3 кВА (2.1-3 кВт)</a></li>
                     <li><a href="cat.php?cat=p5">5 кВА (3.5-5 кВт)</a></li>
                     <li><a href="cat.php?cat=p75">7.5 кВА (5.5-7.5 кВт)</a></li>
                     <li><a href="cat.php?cat=p8">8 кВА (6-8 кВт)</a></li>
                     <li><a href="cat.php?cat=p9">9 кВА (6.5-9 кВт)</a></li>
                     <li><a href="cat.php?cat=p10">10 кВА (7-10 кВт)</a></li>
                     <li><a href="cat.php?cat=pbig">больше 10 кВА </a></li>
                  </ul>
               </li>
               <li><a href="#">...типу<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="cat.php?cat=rele">релейные</a></li>
                  <li><a href="cat.php?cat=elmex">электромеханические</a></li>
                  <li><a href="cat.php?cat=tiristor">тиристорные</a></li>
                  </ul>
               </li>
               <li><a href="#">...бренду<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="cat.php?cat=voltron">Volton РСН</a></li>
                  <li><a href="cat.php?cat=classic-ultra">Энергия Classic/Ultra</a></li>
                  <li><a href="cat.php?cat=ach">UPower АСН</a></li>
                  <li><a href="cat.php?cat=lux">Люкс</a></li>
                  <li><a href="cat.php?cat=apc">Энергия АРС</a></li>
                  <li><a href="cat.php?cat=snvt">Энергия СНВТ</a></li>
                  <li><a href="cat.php?cat=rider">Райдер</a></li>
                  </ul>
               </li>
               <li><a href="#">...назначению<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="cat.php?cat=apc">Для газового котла</a></li>
                  <li><a href="#">Для квартиры</a></li>
                  <li><a href="#">Для дома</a></li>
                  <li><a href="#">Для дачи</a></li>
                  <li><a href="#">Для холодильника</a></li>
                  <li><a href="#">Для стир. машины</a></li>
                  <li><a href="#">Для телевизора</a></li>
                  <li><a href="#">Для компьютера</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  </ul>
               </li>
               <li class="divider"></li>  
               <li><a href="cat.php?cat=onwall">Навесные</a></li>

            </ul>            
         </li>

         <li><a href="cat.php?cat=phase3">Трёхфазные</a></li>
         <li><a href="#">Инверторы и аккумуляторы<span class="caret"></span></a>
            <ul class="dropdown-menu">
             <li><a href="cat.php?cat=invertor">Инверторы</a></li>
             <li><a href="cat.php?cat=battery">Аккумуляторы</a></li>
            </ul>
         </li>
         <li><a href="cat.php?cat=welding">Св. аппараты</a></li>

       </ul>


     </div><!--/.nav-collapse -->
   </div>
</div>


