<TMPL_INCLUDE FILE='oneclick-order-script.tmpl'>
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="theme/js/jquery.smartmenus.js"></script>

    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="theme/js/jquery.smartmenus.bootstrap.js"></script>
    <div class="row">
        <div class="col-xs-12 col-sm-6" id="footer-txt-left">
            <span id="stab-text-footer">©Stabilok.ru</span> - Интернет магазин электрооборудования
        </div>
        <div class="col-xs-12 col-sm-6" id="footer-txt-right">Стабилизаторы напряжения и инверторные блоки питания с доставкой</div>
    </div>
