<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- Отключение кеширования -->
    <meta http-equiv="Cache-Control" content="no-cache">
    
    <!-- Bootstrap -->
    <link href="theme/css/bootstrap.css" rel="stylesheet">
    <link href="theme/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="theme/js/jquery.js"></script>
    <script src="theme/js/jquery-ui.min.js"></script>
    <script src="theme/js/bootstrap.js"></script>
    <script src="theme/js/functions.js"></script>
    <script>
//     var stabCounter = 0;
  //   var classCounter = 0; // Для формирования имени класса
    // var numColStab = 0;   // Колонок стабилизаторов

      var widTmp = $("#num-col").css('width');
      if (widTmp == "1200px") 
        numColStab = 3;
      else if  (widTmp == "992px") 
        numColStab = 2;
      else if  (widTmp == "0px") 
        numColStab = 1;
     </script>
     
     
     <!-- SmartMenus jQuery Bootstrap Addon CSS -->
<link href="theme/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
