  <span id="num-col"></span>
   <header class="header">
     <div class="top">
        <div class="mycontainer">
           <div class="row">
              <div class="col-md-4 col-sm-2">
                 <h1>STABILOK.RU</h1>
                 <div style="display:inline-block;font-size:16px;font-weight:700;margin:-10px 0 0 -20px;line-height:1.1;">
                    <span style="color:red;">правильное</span> питание для вашей бытовой техники
                 </div>
              </div>
              <div class="col-md-5 col-sm-6">
                 <h2>стабилизаторы напряжения для дома и дачи, доставка по Москве, МО и РФ</h2>
                 <div id="alltime">
                    прием заказов по телефону <span>с 8.00 до 23.00</span>
                 </div>
              </div>
              <div class="col-md-3 col-sm-4">
                 <h3>
                    <a href="tel:74993228089">8 (499) 322-8089</a>
                 </h3>
                 <button class="header-callback-bt">Заказать обратный звонок</button>
                 <h4>Написать нам <a href="mailto:info@stabilok.ru">info@stabilok.ru</a></h4>
              </div>
           </div>
        </div>
     </div>
     <!--<div class="col-md-5">Наши стабилизаторы - это Стабильность и Надежность</div> -->
  </header>
  

   <nav class="top-nav">
        <div class="container">
           <ul>
               <li><a href="/">Главная</a></li>
               <li><p></p></li>
               <li class="hidden-xs"><a href="/about">О магазине</a></li>
               <li class="hidden-xs"><p></p></li>
               <li><a href="page.php?page=delivery">Оплата и доставка</a></li>
               <li><p></p></li>
               <li class="hidden-xs"><a href="/warranty">Гарантия</a></li>
               <li class="hidden-xs"><p></p></li>
               <li><a href="page.php?page=contacts">Контакты</a></li>
               <li><a href="page.php?page=articles">Знания</a></li>
           </ul>
        </div> <!-- container -->
     </nav>           

<TMPL_INCLUDE FILE='ddmenu.tmpl'>
