<aside class="left-sidebar">
    <!--  <ul class="lmenu">
          <li class="odd"><a href="cat.php?cat=stab1">Однофазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt">Энергия СНВТ/1</a></li>
          <li><a href="cat.php?cat=voltron">Voltron PCH</a></li>
          <li><a href="cat.php?cat=ach">UPower АСН</a></li>
          <li><a href="cat.php?cat=classic-ultra">Classic/Ultra</a></li>
          <li><a href="cat.php?cat=apc">Энергия АРС</a></li>
          <li class="odd"><a href="cat.php?cat=stab3">Трехфазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt-3">Энергия СНВТ/3</a></li>
          <li><a href="cat.php?cat=voltron-3d">Voltron 3D</a></li>
          <li class="odd"><a href="cat.php?cat=converter">Инверторы и ИБП</a></li>
          <li><a href="cat.php?cat=pn">Энергия ПН</a></li>
          <li><a href="cat.php?cat=battery">Аккумуляторы</a></li>
      </ul>
		<br><span style="font-size:130%;color:#05FFDE;text-shadow:1px 1px 0px #000;">Будет</span><br> -->
		 <ul class="lmenu">
		 <li class="odd"><a href="cat.php?cat=phase1">Однофазные стабилизаторы</a></li>
		 <li><a href="cat.php?cat=p1">до 1 кВА (~750 Вт)</a></li>
		 <li><a href="cat.php?cat=p3">до 3 кВА (~2.4 кВт)</a></li>
		 <li><a href="cat.php?cat=p5">до 5 кВА (~4 кВт)</a></li>
		 <li><a href="cat.php?cat=p8">до 8 кВА (~6.5 кВт)</a></li>
		 <li><a href="cat.php?cat=p10">до 10 кВА (~7.5 кВт)</a></li>
		 <li><a href="cat.php?cat=pbig">более 10 кВА</a></li>
		 <li class="odd"><a href="cat.php?cat=winter">Морозостойкие стабилизаторы</a></li>
		 <li class="odd"><a href="cat.php?cat=phase3">Трехфазные стабилизаторы</a></li>
      <!-- <li><a href="cat.php?cat=snvt-3">Энергия СНВТ/3</a></li>
       <li><a href="cat.php?cat=voltron-3d">Voltron 3D</a></li> -->
       <li class="odd"><a href="cat.php?cat=converter">Инверторы и ИБП</a></li>
       <li><a href="cat.php?cat=pn">Энергия ПН</a></li>
       <li><a href="cat.php?cat=battery">Аккумуляторы</a></li>
   	</ul>
		<a target="_blank" href="http://stab-mag.ru">stab-mag</a><br>
		Производитель <a target="_blank" href="http://energy.msk.ru">energy</a><br>
		Производитель <a target="_blank" href="http://энергия.рф/">http://энергия.рф/</a><br>
		Верх яндекса <a target="_blank" href="http://avolt.ru/">http://avolt.ru/</a><br>
		<div style="margin: 10px 0 0 10px;">На главной объяснение различий продаваемых марок<br>
		Вернуть кнопки купить на главной<div>
	</aside><!-- .left-sidebar -->