<!DOCTYPE html>
<!-- begin of cat.tmpl-->
<html lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=windows-1251">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Cache-Control" content="no-cache">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <base href="http://stabilok.ru/s/" />
  <link href="theme/hmenu.css" rel="stylesheet" type="text/css" />
  <link href="theme/style.css" type="text/css" rel="stylesheet">
  <link href="theme/style1.css" type="text/css" rel="stylesheet">

	
	<script type="text/javascript" src="theme/js/jquery.js"></script>
  <script type="text/javascript" src="theme/js/search.js"></script>

  <TMPL_INCLUDE FILE='oneclick-order-style.tmpl'>