<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- Start of redirect.tmpl -->
<html>
<head>
  <meta http-equiv="REFRESH" content="0; URL=<TMPL_VAR NAME='URL'>">
</head>
</html>
<!-- End of redirect.tmpl -->