<!-- begin of header.tmpl--> 

  <table class="wrapper" cellspacing="0" cellpadding="0">

  <tr>
    <td id="top_left">&nbsp;</td>
    <td id="top" colspan="2"></td>
    <td id="top_right">&nbsp;</td>
  </tr>

  <tr>
    <td colspan="4" id="header">
      <div id="header-left">
        <div style="float: left; margin: 154px 0 0 250px;">
           <div style="width: 230px; text-align: center; color: #7a7a7a; font: bold 20px Arial;"><TMPL_VAR NAME="HTTP_HOST"></div>
        </div>
	  <div id="header-right">
		<div id="welcome">
			<h6>Стабилизаторы напряжения и инверторные блоки питания</h6>
			В нашем интернет магазине вы можете купить стабилизаторы напряжения и бензогенераторы с доставкой по Москве и Московской области.
            Ассортимент нашей продукции представлен такими известными торговыми марками как Sassin, Энергия и Etalon.
            <form id="search_form" action="">
                <input type="text" name="search" id="search_input" autocomplete="off" required>
                <div id="search_result" style="display: none">
                </div>
            </form>
		</div>
      </div>
	  </div>
    </td>
  </tr>


  <tr>
  <td id="left"></td>
  <td colspan="2">
    <img src="theme/img/spacer.gif" width="993" height="1" alt="">
  </td>
  <td id="right"></td>
  </tr>

 <!-- <tr>
  <td id="left"></td>

  <td id="sidebar" width="100">

    <div class="blocks"><div><div><div>
      <img src="theme/img/caption_catalog.png" width="159" height="16"><br>
      <ul class="menu">
          <li class="odd"><a href="cat.php?cat=stab1">Однофазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt">Энергия СНВТ/1</a></li>
          <li><a href="cat.php?cat=voltron">Voltron PCH</a></li>
          <li><a href="cat.php?cat=ach">UPower АСН</a></li>
          <li><a href="cat.php?cat=classic-ultra">Classic/Ultra</a></li>
          <li><a href="cat.php?cat=apc">Энергия АРС</a></li>
          <li class="odd"><a href="cat.php?cat=stab3">Трехфазные стабилизаторы</a></li>
          <li><a href="cat.php?cat=snvt-3">Энергия СНВТ/3</a></li>
          <li><a href="cat.php?cat=voltron-3d">Voltron 3D</a></li>
          <li class="odd"><a href="cat.php?cat=converter">Инверторы и ИБП</a></li>
          <li><a href="cat.php?cat=pn">Энергия ПН</a></li>
          <li><a href="cat.php?cat=battery">Аккумуляторы</a></li>
      </ul>
    </div></div></div></div>


    <div class="blocks"><div><div><div>
      <img src="theme/img/caption_pages.png" width="216" height="16"><br>
      <ul class="menu2">
       <li><a href="page.php?page=about">О магазине</li>
       <li><a href="page.php?page=garantee">Гарантия</li>
       <li><a href="page.php?page=delivery">Оплата и доставка</li>
       <li><a href="page.php?page=contacts">Контакты</li>
       <li><a href="page.php?page=articles">Полезная информация</li>
       <li><a href="http://powerpartners.ru/?ref=<TMPL_VAR NAME="AFF_ID">">Партнерская программа</li>
      </ul>
    </div></div></div></div>

  </td>

  <td class="content" valign="top">

  <div class="outer_border">
  <div class="inner_border">
-->
  <!-- end of header.tmpl--> 

